<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="cat" class="com.zhaolei.pojo.Cat"></bean>
    <bean id="dog" class="com.zhaolei.pojo.Dog"></bean>
<!--byName自动装配-->
<!--    <bean id="people" class="com.zhaolei.pojo.People" autowire="byName">-->
<!--        <property name="name" value="赵磊"></property>-->
<!--    ************************************************************   -->
<!--        <property name="cat" ref="cat"></property>-->
<!--        <property name="dog" ref="dog"></property>-->
    <!--byType自动装配-->
    <bean id="people" class="com.zhaolei.pojo.People" autowire="byType">
        <property name="name" value="赵磊"></property>
    </bean>
</beans>

